.card-width{
    display:inline-block;
    margin: 0 5px 0 5px;
    width: calc(50% - 10px);
}

@media(max-width: 991px){
    .card-width{
        display:block;
        margin: 0 5px 0 5px;
        width: calc(100% - 10px);
    }
}